<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdNdSHB2w_ytFeL79A7x0A9SVHVULQk80</string>
	<key>GCM_SENDER_ID</key>
	<string>247408680959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hriaa.qalb</string>
	<key>PROJECT_ID</key>
	<string>qalb-e-saleem-c7987</string>
	<key>STORAGE_BUCKET</key>
	<string>qalb-e-saleem-c7987.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247408680959:ios:35f1d69c26424ed9fa51ca</string>
</dict>
</plist>